# APP
APP_BASE_URL=http://localhost:3000
APP_NAME=creator-card-api
PORT=3000

# DATABASE
MONGODB_URI=mongodb://127.0.0.1:27017/creator-cards
USE_SECRETS_MANAGER=false
AWS_REGION=
SECRETS_MANAGER_ID=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# JWT
JWT_SECRET=
JWT_DEFAULT_EXPIRY=

# HASH
HASH_SALT_ROUNDS=

# EMAIL
RESEND_TOKEN=
RESEND_SENDER_ADDRESS=
ALLOW_ALL_EMAILS=
EMAIL_NOTIF_INTERVAL_MINS=
EMAIL_FALLBACK_SLACK_WEBHOOK=

# MOCK / TESTING
MOCK_AUTHORIZATION_HEADER=
MODEL_MOCK_SESSION=
USE_MOCK_MODEL=
ALLOW_MOCKED_HTTP_PROXY=

# LOGGER
PINO_LOG_LEVEL=
SHOW_RAW_HEADERS=
LOG_APP_REQUEST=
CAN_LOG_ENDPOINT_INFORMATION=

# REDIS / QUEUE
REDIS_URL=
QUEUE_NAME=

# VALIDATOR
NO_SINGLE_ERRORS=
TOP_LEVEL_ERROR_MESSAGE=
